.hide{
    display: none;
}
.game {
    border: 1px solid black;
    width: 500px;
    height: 600px;
}
.btn_Start{
    border : none;
    padding :10px 30px;
    border-radius :3px;
    display: block;
    margin: 300px auto;
}
.logo{
    width: 80%;
    margin: 10px auto;
    padding: 10px 30px;
    border-radius: 20px;
    border: 1px solid black;
    text-align: center;
    background: #dae0e5;
    color: red;
    font-family: cursive;
    font-weight: bold;
    background-color: white;
    animation-name: example;
    animation-duration: 3s;
}
#scores{
    position: relative;
    border: 1px solid black;
    width: 10%;
    height: 300px;
    background: #fff;
    opacity:0.9 ;
}
#scores::before{
    content: "";
    position: absolute;
    background: url(../images/4_103936.jpg) center no-repeat;
    bottom: 0px;
    right: 0;
    width: 160px;
    height: 134px;
    opacity: 0.8;
    background-size: cover;
    /*transform: rotate(45deg);*/
}
.row .col-5{
    left: 20px;
    max-width: 20%; 
    border: 1px solid black;
    border-radius: 10px;
}
#question{
    border: 1px solid black;
    border-radius: 5px;
    margin: 100px auto 20px auto;
    text-align: center;
    width: 80%;
}
#answers{
    width: 80%;
    margin: 100px auto 20px auto;
}
#answers > div {
    border: 1px solid green;
    margin-top: 20px;
    margin-bottom: 20px ;
    text-align: center;

}
.active{
    background-color :green;
    color: white;
}
.quadrat {
    margin-top: 20px;
    margin-bottom: 20px ;
    text-align: center;
    -webkit-animation: blink 0.5s infinite;  /* Safari 4+ */
    -moz-animation: blink 0.5s infinite;  /* Fx 5+ */
    -o-animation: blink 0.5s infinite;  /* Opera 12+ */
    animation: blink 0.5s infinite;  /* IE 10+, Fx 29+ */
}

@-webkit-keyframes blink {
    0%, 49% {
        background-color: rgb(117, 209, 63);
        border: 2px solid #e50000;
    }
    50%, 100% {
        background-color: #e50000;
        border: 2px solid rgb(117, 209, 63);
    }
}
#scores .row {
    margin-top: 15px;
    /*margin-left: 20px;*/
}
#scores .row div {
color: rgb(150, 13, 112);
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    border: none;
}
/* Update 17/7/2021 by Van Manh*/
body{
    background:url(../images/super_brain.jpg) center no-repeat;
}
.btn_Start{
    background: red;
    color:white;
    font-weight: bold;
    border-radius: 10px;
    animation: colorBackground 0.5s infinite;
}
.btn_Start:hover {
    background-color: greenyellow;
}
.row1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.game.col-7{
     background:url(../images/bg.jpg) center no-repeat;
    opacity: 0.8;
    border-radius: 15px;
}
/* Code animation */
@keyframes example {
  70% {background-color: crimson;}
  60% {background-color: lightsalmon;}
  50% {background-color: pink;}
  50% {background-color: indigo;}
  60% {background-color: white;}
  60% {background-color: red;}
  70% {background-color: saddlebrown;}
  70% {background-color: yellow;}
}
